.host{
    display: block;
}


.container{
    background-color: #71C1FA;
    height: 100vh;
    width: 100vw;
}
.secondary{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 50%;
    margin: 0px auto;
    position: relative;
}
.log-title{
    text-align: center;
    font-size: 24px;
}
.email-input{
    align-self: center;
}
.password-input{
    align-self: center;
}
.login-button{
    width: 50%;
    align-self: center;
}


